<main class="content">
    <nav class="localNavi">
        <p class="title_navi">開催日程</p>
        <ul class="localNaviList">
            <li><a href="/system/"><span>開催日程</span></a></li>
        </ul>
    </nav>

    <section style='margin-top:30px' class="courseContent">
        <h2 class="contTitle">
            <strong>開催日程</strong>
            <small>schedule</small>
        </h2>
        
        <div class="container">
            <section class="courseContentList">
                <h3 class="sectionTitle"><span>今後の講座・行事日程</span></h3>
                <p class="normalTxt">
                    1月　令和３年 新年特別講演会　　　　　　　1月25日(月)<br>
                    2月　労務監査人養成講座2月コース　　　　　2月14日(日)・28日(日)<br>
                    3月　協会説明＋基調講演(法改正セミナー)　3月中旬<br>
                    4月　第1回労務監査人実践ゼミナール　　　　4月24日(土)・5月8日(土)・22日(土)<br>
                    5月　労務監査人養成講座5月コース　　　　　5月中旬・下旬<br>
                    6月　協会説明＋基調講演(助成金セミナー)　6月下旬<br>
                    8月　労務官人養成講座8月コース　　　　　　8月中旬・下旬<br>
                    9月　第二回労務監査人実践ゼミナール　　　　9月中旬〜10月下旬<br>
                    12月 労務監査人養成講座12月コース　　　　　12月中旬
                </p>
            </section>
        </div>
    </section>
</main>
