<main class="content">
	<nav class="localNavi">
		<p class="title_navi">協会概要メニュー</p>
		<ul class="localNaviList">
			<li><a href="/about/"><span>一般社団法人 人事・労務エキスパート協会について	</span></a></li>
			<li><a href="/about/agreement/"><span>会員規程</span></a></li>
			<li><a href="/about/constitution"><span>会則</span></a></li>
		</ul>
	</nav>
	
	<h1 class="pageTitle">
		<strong class="txt"><%= image_tag('text/about.png', class: "img-responsive1") %></strong>
		<span class="picture"></span>
	</h1>


	<div>
	<section class="introduction">
		<h2 class="contTitle">
			<strong>協会の理念</strong>
			<small>philosophy</small>
		</h2>
		
		<div class="container">
			<p class="large_txt"><span>個性と能力を活かす新たな働き方を創造し、<br>
			豊かな社会と充実した人生を実現する。</span></p>
			<ul class="list_intro">
				<li>当協会では「個性と能力を活かす新たな働き方の創造」を理念に掲げ、その達成に向けてたゆまぬ努力を続けてまいります。</li>
				<li>協会にご参加いただく皆様とともに、人事労務の分野における活動をとおして「豊かな社会と充実した人生の実現」を目指します。</li>
			</ul>
			
		<!-- /container -->
		</div>
	</section>
	</div>
	
	<section class="message">
		<h2 class="contTitle">
			<strong>代表挨拶</strong>
			<small>message</small>
		</h2>
		
		<div class="container">
			<div class="txt">
				<p class="normalTxt">労働力不足が深刻化する中、働き方改革関連法が本格施行され始めました。優秀な人材を採用・育成し、その能力を有効に発揮させるためにも労務コンプライアンスの適正化は重要かつ当然の課題と言えます。</p>
				<p class="normalTxt">当協会では、労務監査人の育成と活用をもって企業の健全な発展と従業員の皆様のディーセントワークの実現にむけてのお手伝いをいたしております。また、人事・労務関連業務に携わる方々に対しては、その能力発揮・価値向上のお力になるべく、職域開発事業、能力開発事業を行ってまいります。</p>
				<p class="normalTxt">この度、その一環として予てより準備してまいりました「労務監査人®養成講座」を開催いたすこととなりました。詳細につきましては、順次ホームページ等でご案内してまいりますが、これを機会にぜひ当協会へのご参加、ご活用をお考えいただけますようよろしくお願い申し上げます。</p>
			<!-- /txt -->
			</div>
		<!-- /container -->
		</div>
	</section>

	<div class="outline">
		<div class="container">
			<section class="oitlineList">
				<h2 class="contTitle">
					<strong>法人概要</strong>
					<small>outline</small>
				</h2>
				
				<table class="tbrNormal">
					<tr>
						<th>団体名</th>
						<td>一般社団法人 人事・労務エキスパート協会</td>
					</tr>
					<tr>
						<th>所在地</th>
						<td>東京都港区元赤坂1－5－26　東部ビル</td>
					</tr>					
					<tr>
						<th>代表理事</th>
						<td>小島 勇人</td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td>03-6804-5034</td>
					</tr>
					<tr>
						<th>URL</th>
						<td>http://expt.or.jp</td>
					</tr>
					<tr>
						<th>e-mail</th>
						<td>jimukyoku@expt.or.jp</td>
					</tr>					
				</table>
			</section>
			
			<section class="oitlineList">
				<h2 class="contTitle">
					<strong>事業内容</strong>
					<small>content</small>
				</h2>
				
				<ol class="listDecimel">
					<li>人事・労務関連資格、実務経験保有者のための<br>能力開発・職域開発</li>
					<li>労務監査人制度の運営</li>
					<li>人事・労務関連業務の受託</li>
					<li>研修、セミナー・講演会の開催</li>
					<li>前各号に掲げる事業に附帯又は関連する事業</li>
				</ol>
			</section>
		<!-- /container -->
		</div>
	<!-- /outline -->
	</div>

	<section class="supporter">
		<h2 class="contTitle">
			<strong>会長・理事のご紹介</strong>
			<small>member</small>
		</h2>
		<div class="container">
			<section class="supporterList">
				<div class="txtBox">
					<h3 class="title_supporter">会長　八木 直樹</h3>
					<p class="normalTxt">1985年 学習院大学法学部 卒業<br>1987年 厚生労働省入省、労働基準監督官任官、銚子労働基準監督署長、千葉労働局 主任地方産業安全専門官を経て2015年八木労務監査事務所を開業。2018年 働き方改革日本株式会社を開業、代表取締役就任。<br>
					厚生労働省 技術審査委員、厚生労働省委託「労働条件ほっとライン」管理者、公益社団法人全国労働基準関係団体連合会 委員、一般社団法人国際建設技能振興会 参事役、厚生労働省法定研修（派遣元責任者講習・紹介責任者講習、外国人技能実習制度）講師<br>
					<a href="http://www.yagiroumukansa.jp" target="_blank">八木労務監査事務所</a> 所長<br>
					<a href="http://hatarakikatakaikakunippon.jp" target="_blank">働き方改革日本株式会社</a> 代表取締役<br>
					特定社会保険労務士、労働衛生コンサルタント、第１種衛生管理者
					</p>

				<!-- /txtBox -->
				</div>
			</section>
			
			<section class="supporterList">
				<div class="txtBox">
					<h3 class="title_supporter">代表理事　小島 勇人</h3>
					<p class="normalTxt">1983年学習院大学経済学部 卒業<br>
						株式会社キャリアスタッフ、ジャフココンサルティング株式会社、株式会社アデコ等で人材派遣･人材紹介･営業企画･新規事業開発等を経験した後、ニスコム株式会社入社、執行役員就任。管理本部長として総務・人事、経理・財務を担当。2010年より医療法人康生会にて企業健康診断・労働衛生管理の渉外、集団検診を担当。<br>
						2018年当協会設立、代表理事に就任。<br>
						 <a href="http://www.sr-bbc.jp/" target="_blank">社会保険労務士事務所 ブライト･ビジネス･コンサルティング</a>  所長<br>
						特定社会保険労務士（東京都社会保険労務士会 港支部所属）、日本産業カウンセラー協会会員・産業カウンセラー、厚生労働省法定研修（派遣元責任者講習・紹介責任者講習）講師、外国人建設就労者受入事業指導相談員
					</p>
					
				<!-- /txtBox -->
				</div>
			</section>
			
			<section class="supporterList">
				<div class="txtBox">
					<h3 class="title_supporter">理事　村山 敏彦</h3>
					<p class="normalTxt">1979年西南学院大学文学部 卒業<br>
						株式会社メイテックにて主に人事部門に従事。株式会社メイテック取締役、株式会社メイテックフィルダーズ代表取締役を歴任後、ニスコム株式会社取締役に就任、管理部門を担当。<br>
						2018年当協会に社員として参画、理事に就任。<br>
						筑波大学大学院人間科学研究科 修了・東洋英和女学院大学大学院人間科学研究科修了<br>
						臨床心理士、公認心理師、日本産業カウンセラー協会会員・産業カウンセラー、キャリアコンサルタント
					</p>
			</section>
			
			<section class="supporterList">
				<div class="txtBox">
					<h3 class="title_supporter">理事　古川 博</h3>
					<p class="normalTxt">1972年 京都大学経済学部 卒業 <br>
						株式会社帝人入社、経営企画室、経理財務センター長等を経て帝人クリエイティブスタッフ取締役、帝人グループ常務執行役員・CFO補佐、 株式会社帝人常勤監査役を歴任。<br>
						2018年当協会に社員として参画、理事に就任。<br>
						Havard Business School Advannced Management Progrum 修了
					</p>
			</section>
		<!-- /container -->
		</div>
	</section>


</main>
