<main class="content">
	<nav class="localNavi">
		<p class="title_navi">協会概要メニュー</p>
		<ul class="localNaviList">
			<li><a href="/about/"><span>一般社団法人 人事・労務エキスパート協会</span></a></li>
			<li><a href="/about/agreement/"><span>会員規程</span></a>
			<li><a href="/about/constitution"><span>会則</span></a>
		</ul>
	</nav>
	
	<h1 class="pageTitle">
		<strong class="txt"><%= image_tag('text/agreement.png', class: "img-responsive") %></strong>
		<span class="picture">会員規程</span>
	</h1>
	
	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第1章</small>
			<strong>総則</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 1 条（会員規程の範囲）</span></h3>
				<p class="normalTxt">本規程は、一般社団法人人事・労務エキスパート協会（以下本協会とする）の会員となる個人または法人、団体に適用されます。</p>
			</section>

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 2 条（会員）</span></h3>
				<p class="normalTxt">本協会の指定する手続きに基づき、本規程を了承の上入会を申込、本協会が承認したものを会員とします。<br>会員とは、本協会の個人会員、士業会員、法人会員をいいます。</p>
				<ul class="list__type list_disc">
					<li>個人会員：本協会の目的に賛同し、本協会の所定の手続により、本協会理事会による審査・承認を受けた個人</li>
					<li>士業会員：本協会の目的に賛同し、本協会の所定の手続により、本協会理事会による審査・承認を受けた士業者及び個人事業主等（兼業・副業者を含む）</li>
					<li>法人会員：本協会の目的に賛同し、本協会の所定の手続により、本協会理事会による審査・承認を受けた法人、団体</li>
				</ul>
			</section>
		<!-- /container -->
		</div>
	</section>
	
	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第2章</small>
			<strong>入会申込と契約</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 3 条（個人会員への申込）</span></h3>
				<p class="normalTxt">個人会員への入会を希望するものは、本協会指定の入会申込書に必要事項を記入の上本協会に提出し、理事会による審査・承認を経て、入会するものとします。</p>
			</section>

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 4 条（士業会員への申込）</span></h3>
				<p class="normalTxt">士業会員への入会を希望するものは、本協会指定の入会申込書に必要事項を記入の上本協会に提出し、理事会による審査・承認を経たのちに士業会員の入会金及び年会費の支払いを行っていただきます。</p>
			</section>

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 5 条（法人会員への申込）</span></h3>
				<p class="normalTxt">法人会員への入会を希望するものは、本協会指定の入会申込書に必要事項を記入の上本協会に提出し、理事会による審査・承認を経たのちに法人会員の入会金及び年会費の支払いを行っていただきます。</p>
			</section>

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 6 条（入会申込の不承認）</span></h3>
				<p class="normalTxt">以下の行為が認められた場合、入会申し込みを承認しないことがあります。</p>
				<ul class="list__type list_text">
					<li>（1）入会申し込みの際の申告事項に、虚偽の記載、誤記、記入漏れのあった場合</li>
					<li>（2）入会申し込み後一定の期間を経過しても、会費の支払いがない場合</li>
					<li>（3）過去に本協会から会員資格を取り消されたことがある場合</li>
					<li>（4）本協会理事または審査委員会の審査により入会が承認されなかった場合</li>
					<li>（5）その他、本協会が会員契約を結ぶことを不適当と判断した場合</li>
				</ul>
			</section>
			
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 7 条（会費）</span></h3>
				<p class="normalTxt mbsp25">会費は会員種別により以下の通りとし、本協会発行の請求書による前納一括払いを原則に、入会初年度は入会金と併せて入会承認後速やかに、次年度以降は協会からの請求書が到着後3月末日までにお支払いいただきます。</p>
				
				<div class="tbrResponcive">
					<table class="tbrNormal">
						<tr>
							<th>個人会員</th>
							<td>入会金:ナシ／年会費:無料</td>
						</tr>
						<tr>
							<th>士業会員</th>
							<td>入会金：3万円／年会費：3万円　中途入会(１0月以降)については年会費半額</td>
						</tr>
							<th>法人会員</th>
							<td>入会金10万円／年会費：30万円　 中途入会(１0月以降)については年会費半額</td>
					</table>
				<!-- /tbrResponcive -->
				</div>
			</section>
			
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 8 条（会費等の払い戻し）</span></h3>
				<p class="normalTxt">会員が既に納入した会費等については、その理由の如何を問わず、これを返還しないものとします。</p>
			</section>
			
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 9 条（会員期間）</span></h3>
				<p class="normalTxt">本規約に基づく会員期間は、4月1日から翌年3月末日迄（入会初年度は入会日より当該年度3月末日迄）とし、期間満了日の1ヵ月前までに、会員又は本協会から相手方に対し、書面による特段の意思表示が無い場合には、更に契約期間を 1 年間ずつ自動更新するものとし、以後も同様とします。</p>
			</section>
			
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 10 条（変更の届出）</span></h3>
				<p class="normalTxt">会員は、その名称、住所、連絡先等、本協会への届出事項に変更が生じた場合には、速やかに所定の変更手続きを行うものとします。会員が変更の届出をしなかったことにより不利益を被った場合でも、本協会はその責任を一切負わないものとします。</p>
			</section>
			
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 11 条（退会）</span></h3>
				<p class="normalTxt">会員は、本協会所定の手続きにより、退会することができます。ただし、未払いの会費等がある場合には、会員は、退会後も本協会に対する未払い分の支払いを免れないものとします。</p>
			</section>
			
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 12 条（会員資格の取り消し）</span></h3>
				<p class="normalTxt">本協会は、会員が次の各号の 1 つに該当すると認めた場合、会員たる資格を取り消すことができるものとします。</p>
				
				<ul class="list__type list_text">
					<li>（1）本協会の名誉を著しく傷つける行為、または会員としての品格を損なう行為があったと、本協会が認めた場合</li>
					<li>（2）会費の支払いが支払日より 3 ヵ月以上遅滞した場合</li>
					<li>（3）法令若しくは公序良俗に反する行為を行った場合</li>
					<li>（4）本規約又は、その他本協会が定める規約に違反した場合</li>
					<li>（5）本人が死亡し、若しくは失踪宣告を受けた場合</li>
					<li>（6）その他、本協会が会員として不適格と認める相当の事由が発生した場合</li>
				</ul>
			</section>
		<!-- /container -->
		</div>
	</section>
	
	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第3章</small>
			<strong>サービス・会員特典</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 13 条（サービスの利用）</span></h3>
				<p class="normalTxt">会員は、本協会の行う人事労務関連のサービスを優先的に利用することができます。</p>
				
			</section>
		<!-- /container -->

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 14 条（会員特典）</span></h3>
				<p class="normalTxt">会員特典は会員種別により以下の通りとし、原則として年1回の特典利用ができます。</p>

				<div class="tbrResponcive">
					<table class="tbrNormal">
						<tr>
							<th>個人会員</th>
							<td>
								特典1：法改正講座の割引受講<br>
							    特典2：労務監査人養成講座の割引講座の割引受講<br>
							    特典3：労務監査人実践講座の割引受講
							</td>
						</tr>
						<tr>
							<th>士業会員</th>
							<td>
								特典1：法改正口座の無料受講<br>
								特典2：労務監査人養成講座の割引受講<br>
								特典3：労務監査人実践講座の割引受講<br>
								特典4：協会受託事業の再委託<br>
								特典5：協会ホームページのプロフィール掲載
							</td>
						</tr>
							<th>法人会員</th>
							<td>
								特典1：法改正講座の無料受講<br>
								特典2：労務監査人養成講座の割引受講<br>
								特典3：労務監査人実践講座の割引受講<br>
								特典4：その他協会サービスの割引利用
							</td>
					</table>
				</div>
			</section>
		</div>
	</section>
	
	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第4章</small>
			<strong>著作権及び守秘義務</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 15 条（著作権）</span></h3>
				<p class="normalTxt">サービスによって提供される情報の著作権は本協会及び情報の提供を行った本協会指定団体に属します。</p>
			</section>

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 16 条（情報の二次使用）</span></h3>
				<p class="normalTxt">サービスによって提供される情報を、複製、編集、加工、発信、販売、出版その他いかなる方法においても、著作権法に違反して使用することを禁止します。</p>
			</section>
			
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 17 条（守秘義務）</span></h3>
				<p class="normalTxt">本協会が機密と指定した情報については、会員期間はもとより退会後も本協会の書面による承認を得ずに第三者に開示することはできません。各種会議において本協会または会員より開示される情報は原則としてすべて機密情報となります。本条に違反した場合には、本協会及び会員に対して賠償の責任を負うものとします。</p>
			</section>
		<!-- /container -->
		</div>
	</section>
	
	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第5章</small>
			<strong>規約の追加・変更</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 18 条（規約の追加・変更）</span></h3>
				<p class="normalTxt">本協会は、理事会の決議により、サービスの内容および料金を含め本規約の全部または一部を変更することができます。本協会により変更された本規約は、本協会の Web サイト上に掲載された時点で効力を発するものとし、以後会員は、当該変更された本規約に拘束されるものとします。また、本規約に定めのない事項で必要と判断されるものについては、理事会の決議により定めるものとします。</p>
			</section>
		<!-- /container -->
		</div>
	</section>
	
	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第6章</small>
			<strong>免責および損害賠償</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 19 条（免責および損害賠償）</span></h3>
				<p class="normalTxt">会員は、本協会の活動に関連して取得した資料、情報等について、本規約第 15 条に定められた守秘義務を遵守し、また自らの判断によりその利用の採否・方法等を決定するものとし、これらに起因して会員または第三者が損害を被った場合であっても、本協会は一切責任を負わないものとします。
				万が一、会員が第三者に対して損害賠償責任を負う場合であっても、その原因の如何に関わらず、本協会は、間接損害、特別損害、免失利益ならびに第三者からの請求および軽過失に基づく損害について、予見の有無に関わらず、責任を負わないものとします。
				会員が退会・除名等により会員資格を喪失した後も、本条の規定は継続して当該会員に対して効力を有するものとします。</p>
			</section>
		<!-- /container -->
		</div>
	</section>
	
	<section class="textfileBox">
		<div class="container">
			<h2 class="textTitle">付則</h2>
			<div class="container">
				<section class="textfileList">
					<h3 class="sectionTitle"><span>第 20 条（労務監査人認定制度）</span></h3>
					<p class="normalTxt">「労務監査人®」は、当協会が主催する労務監査人認定制度に基づき労務監査についての知識・技能を習得された方に認定付与する資格名称です。</p>
					<ul class="list__type list_text">
					<li>・認定は、当協会が主催または指定する「労務監査人養成講座」の受講者で修了証の交付を受けた方を対象に、ご本人からの認定申請に基づき行います。</li>
					<li>・資格有効期間は３年です。資格有効期間中は「法改正講座」など当協会及び提携団体が開催する講座を割引価格もしくは無料でご受講いただけます。また、これらを含む協会指定講座の受講により資格有効期間を更新することができます。</li>
				</ul>
				</section>
		<!-- /container -->
			</div>

		<!-- /container -->
		</div>
	</section>

	<div class="container">
		<p class="normalTxt">本会員規約は、令和2年5月1日より実施します。</p>
	</div>	
	<div class="textfileBox dateStamp">
		<div class="container">
			<p class="normalTxt">一般社団法人 人事・労務エキスパート協会<br>令和2年5月1日実施</p>
		<!-- /container -->
		</div>
	<!-- /dateStamp -->
	</div>
</main>
