<main class="content">
	<nav class="localNavi">
		<p class="title_navi">協会概要メニュー</p>
		<ul class="localNaviList">
			<li><a href="/about/"><span>一般社団法人 人事・労務エキスパート協会</span></a></li>
			<li><a href="/about/agreement/"><span>会員規程</span></a>
			<li><a href="about/"><span>会則</span></a>
		</ul>
	</nav>
	
	<h1 class="pageTitle">
		<strong class="txt"><%= image_tag('', class: "img-responsive") %></strong>
		<span class="picture">会則</span>
	</h1>
	
	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第1章</small>
			<strong>総則</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 1 条（名称）</span></h3>
				<p class="normalTxt">
					本協会は、一般社団法人 人事・労務エキスパート協会と称する。<br>
					本協会の英文名称は「Personnel & Labor management Expert   Association」とし、その略称は「PLeA」(プレア)とする。
				</p>
			</section>

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 2 条（主たる事務所）</span></h3>
				<p class="normalTxt">本協会は、事務所を東京都港区元赤坂１－５－２６　東部ビルに置く。</p>
			</section>

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 3 条（目的）</span></h3>
				<p class="normalTxt">本協会は、人事・労務管理の適正な運営による健全な経営の実現を目的に、その目的に資する次の事業を行う。</p>
				<ul class="list__type list_text">
					<li>（1）人事・労務関連資格、実務経験保有者のための能力開発・職域開発</li>
					<li>（2）労務監査人制度の運営</li>
					<li>（3）人事・労務関連業務の受託</li>
					<li>（4）研修、セミナー・講演会の開催</li>
					<li>（5）研修、セミナー・講演会の開催</li>
				</ul>
			</section>
		<!-- /container -->
		</div>
	</section>
	
	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第2章</small>
			<strong>社員・社員総会</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 4 条（入社・退社等）</span></h3>
				<p class="normalTxt">本協会の目的に賛同し入社した者を社員とし、その入社・退社等については定款の定めに基づくものとする。</p>
			</section>

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 5 条（社員総会）</span></h3>
				<p class="normalTxt">本協会の社員総会は、定時社員総会及び臨時社員総会とし、その開催・決議等については定款の定めに基づくものとする。</p>
			</section>


	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第3章</small>
			<strong>役員</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 6 条（員数）</span></h3>
				<p class="normalTxt">本協会に次の役員を置き、その選任、任期については定款の定めに基づくものとする。</p>
				<ul class="list__type list_text">
					<li>1．理事1名以上5名以内</li>
					<li>2．理事のうち1名を代表理事とする</li>
					<li>3．前項の理事・代表理事とは別に会長を置くことが出来る。</li>
				</ul>
			</section>
		<!-- /container -->

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 7 条（代表理事の選定及び職務）</span></h3>
				<p class="normalTxt">本協会は定款の定めに基づき代表理事を１名置き、代表理事は本協会を代表し、業務を統括する。</p>
			</section>

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 8 条（会長の選定及び職務）</span></h3>
				<p class="normalTxt">
					会長は、理事会の決議により会員の中から選任する。ただし、必要があるときは会員以外のものから選任することを妨げない。<br>
					会長は、理事会と協力し、会員の満足度の向上その他協会の評価に資する業務を行う。
				</p>
			</section>
		</div>
	</section>
	
	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第4章</small>
			<strong>会員・会費等</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 9 条（会員）</span></h3>
				<p class="normalTxt">本協会の会員は、次の３種とし、詳細は会員規程に定める。</p>
				<ul class="list__type list_text">
					<li>（１）個人会員：本協会の目的に賛同して入会した個人</li>
					<li>（２）士業会員：本協会の目的に賛同して入会した士業者及び個人事業主</li>
					<li>（３）法人会員：本協会の目的に賛同して入会した法人及び団体</li>
				</ul>
			</section>

			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 10 条（会費）</span></h3>
				<p class="normalTxt">会費は、次のとおりとし、詳細は会員規程に定める。</p>
				<table class="tbrNormal">
						<tr>
							<th>個人会員</th>
							<td>入会金:ナシ／年会費:無料</td>
						</tr>
						<tr>
							<th>士業会員</th>
							<td>入会金：3万円／年会費：3万円　中途入会(１0月以降)については年会費半額</td>
						</tr>
							<th>法人会員</th>
							<td>入会金10万円／年会費：30万円　 中途入会(１0月以降)については年会費半額</td>
					</table>
			</section>
		<!-- /container -->
		</div>
	</section>
	
	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第5章</small>
			<strong>基金</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 11 条（基金）</span></h3>
				<p class="normalTxt">本協会は、社員又は第三者に対し、一般法人法「一般社団法人及び一般財団法人に関する法律」第１３１条に規定する基金の拠出を求めることができるものとし、募集等については定款の定めに基づき行うものとする。</p>
			</section>
		<!-- /container -->
		</div>
	</section>
	
	<section class="textfileBox">
		<h2 class="contTitle">
			<small class="normal">第6章</small>
			<strong>事業年度等</strong>
		</h2>
		
		<div class="container">
			<section class="textfileList">
				<h3 class="sectionTitle"><span>第 12 条（事業年度等）</span></h3>
				<p class="normalTxt">本協会の事業年度は、毎年１月１日から（同年）１２月３１日までの年１期とし、事業計画及び収支予算は定款の定めに基づき行うものとする。。</p>
			</section>
		<!-- /container -->
		</div>
	</section>
	
	<section class="textfileBox">
		<div class="container">
			<h2 class="textTitle">付則</h2>
			<div class="container">
				<section class="textfileList">
					<h3 class="sectionTitle"><span>第 13 条（法令の準拠）</span></h3>
					<p class="normalTxt">会則に定めのない事項は、すべて定款によるものとし、定款に定めのない事項はすべて一般法人法その他の法令によるものとする。</p>
				</ul>
				</section>
		<!-- /container -->
			</div>

		<!-- /container -->
		</div>
	</section>

	<div class="container">
		<p class="normalTxt">本会則は、令和2年5月1日より実施します。</p>
	</div>	
	<div class="textfileBox dateStamp">
		<div class="container">
			<p class="normalTxt">一般社団法人 人事・労務エキスパート協会<br>令和2年5月1日実施</p>
		<!-- /container -->
		</div>
	<!-- /dateStamp -->
	</div>
</main>
