
<main class="content">
	<nav class="localNavi">
		<p class="title_navi"></p>
		<ul class="localNaviList">
			<li><a href="/certification/"><span></span></a></li>
			<li><a href="/certification/voice/"><span>取得者の声</span></a></li>
		</ul>
	</nav>

	<h1 class="pageTitle">
		<strong class="txt"><img src="/images/certification/txt_pageTitle.png" alt="" class="img-responsive"></strong>
		<span class="picture"></span>
	</h1>
	
	<section class="instructor">
		<h2 class="contTitle">
			<strong>労務監査人認定資格者</strong>
			<small>ikuben instructor</small>
		</h2>
		
		<div class="container">
							<section class="instructorList">
					<div class="instructorListInner">
						<div class="titleBox">
							<div class="thum_instructor">
								<figure><span><img src="/uploads/users/cfc945540710886861be61873c4f76b4bfbd2ea8.jpg" alt="画像："></span></figure>
							<!-- /thum_instructor -->
							</div>
							<h3 class="name">
								<strong>aaa</strong>
								<small>aaa</small>
							</h3>
						<!-- /titleBox -->
						</div>

						<div class="txt">
							<div class="accordion_box">
							  <input id="ac0" type="checkbox">
							  <label for="ac0"></label>
							  <div class="accordion-container">
									<p class="normalTxt">test</p>
								 <!-- accordion-container -->
							  </div>
							<!-- accordion_box -->
							</div>

														<p class="btn"><a href="https://mamapro.wixsite.com/mamapro" target="_blank"><span>WEBサイトを見る</span></a></p>
													<!-- /txt -->
						</div>
					<!-- /instructorListInner -->
					</div>
				</section>
							<section class="instructorList">
					<div class="instructorListInner">
						<div class="titleBox">
							<div class="thum_instructor">
								<figure><span><img src="/uploads/users/9d4193ad36eca273f76b31aebbfcce5113fab6b9.jpg" alt="画像："></span></figure>
							<!-- /thum_instructor -->
							</div>
							<h3 class="name">
								<strong>BBB</strong>
								<small>bbb</small>
							</h3>
						<!-- /titleBox -->
						</div>

						<div class="txt">
							<div class="accordion_box">
							  <input id="ac1" type="checkbox">
							  <label for="ac1"></label>
							  <div class="accordion-container">
									<p class="normalTxt">test</p>
								 <!-- accordion-container -->
							  </div>
							<!-- accordion_box -->
							</div>

														<p class="btn"><a href="https://sakura-hinao.jimdo.com/" target="_blank"><span>WEBサイトを見る</span></a></p>
													<!-- /txt -->
						</div>
					<!-- /instructorListInner -->
					</div>
				</section>
							<section class="instructorList">
					<div class="instructorListInner">
						<div class="titleBox">
							<div class="thum_instructor">
								<figure><span><img src="/uploads/users/01cca21a6c145a2d9abbc52d6264941ff85e816e.jpg" alt="画像："></span></figure>
							<!-- /thum_instructor -->
							</div>
							<h3 class="name">
								<strong>ccc</strong>
								<small>ccc</small>
							</h3>
						<!-- /titleBox -->
						</div>

						<div class="txt">
							<div class="accordion_box">
							  <input id="ac2" type="checkbox">
							  <label for="ac2"></label>
							  <div class="accordion-container">
									<p class="normalTxt">ccc</p>
								 <!-- accordion-container -->
							  </div>
							<!-- accordion_box -->
							</div>

														<p class="btn"><a href="https://ameblo.jp/salon-anju" target="_blank"><span>WEBサイトを見る</span></a></p>
													<!-- /txt -->
						</div>
					<!-- /instructorListInner -->
					</div>
				</section>
</div>
</section>
</main>