<main class="content">
	<nav class="localNavi">
		<p class="title_navi">講座のご案内</p>
		<ul class="localNaviList">
			<li><a href="/seminar/"><span>講座のご案内</span></a></li>
			<li><a href="/seminar/kyujitsu"><span>労務監査人養成講座(週末開講)</span></a></li>
			<li><a href="/seminar/heijitsu"><span>労務監査人養成講座(平日開講)</span></a></li>
			<li><a href="/seminar/jissen"><span>労務監査人実践ゼミナール</span></a></li>
			<li><a href="/seminar/schedule/"><span>開催日程</span></a></li>
		</ul>
	</nav>

	<h1 class="pageTitle">
		<strong class="txt"><%= image_tag('text/seminar.png', class: "img-responsive1") %></strong>
		<span class="picture system"></span>
	</h1>

	<section class="about">
		<h2 class="contTitle">
			<strong>労務監査人実践ゼミナール(終日×3回)</strong>
		</h2>

		<div class="container">
			<section class="courseContentList">
				<h3 class="sectionTitle"><span>科目構成および受講時間</span></h3>
					<div class="tbrResponcive">
						<table class="tbrNormal">
							<thead>
								<tr>
									<th class="cel03"></th>
									<th class="cel03">カリキュラム</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">
										1日目
									</td>
									<td>
										午前：監査項目とチェックリスト
									</td>
								</tr>
								<tr>
									<td>
										午後：法定書類の記録・保存状況
									</td>
								</tr>
								<tr>
									<td rowspan="2">
										2日目
									</td>
									<td>
										午前：就業規則・規程、協定
									</td>
								</tr>
								<tr>
									<td>
										午後：労働条件、賃金支払い状況<br>
										　　　労働時間・休憩・休日、年次有給休暇
									</td>
								</tr>
								<tr>
									<td rowspan="2">
										3日目
									</td>
									<td>
										午前：安全衛生管理体制、安全衛生教育<br>
										　　　健康診断と事後措置
									</td>
								</tr>
								<tr>
									<td>
										午後：労働者面談の意義・目的、技法の習得
									</td>
								</tr>							
							</tbody>
						</table>
						<!-- /tbrResponcive -->
					</div>
				<p class="normalTxt">労務監査に係る基本知識を有する方を対象とした労務監査実践に必要な技能の習得を目的としたゼミナール形式の講習。1日5時間×3日間を事例、実務実習、情報交換を織り交ぜながら行います。労務監査人資格認定にあたって、実務経験や知識の不足がある方は当実践ゼミナールの受講修了により資格認定要件を満たすことが出来ます。認定要件の充足に限らず、労務監査の実務能力向上を目指す方にはお勧めいたします。</p>
				</div>
			</section>
