<main class="content">
	<nav class="localNavi">
		<p class="title_navi">講座のご案内</p>
		<ul class="localNaviList">
			<li><a href="/seminar/"><span>講座のご案内</span></a></li>
			<li><a href="/seminar/kyujitsu"><span>労務監査人養成講座(週末開講)</span></a></li>
			<li><a href="/seminar/heijitsu"><span>労務監査人養成講座(平日開講)</span></a></li>
			<li><a href="/seminar/jissen"><span>労務監査人実践ゼミナール</span></a></li>
			<li><a href="/seminar/schedule/"><span>開催日程</span></a></li>
		</ul>
	</nav>

	<h1 class="pageTitle">
		<strong class="txt"><%= image_tag('text/seminar.png', class: "img-responsive1") %></strong>
		<span class="picture system"></span>
	</h1>

	<section class="about">
		<h2 class="contTitle">
			<strong>「労務監査人養成講座」・「労務監査人実践ゼミナール」について</strong>
			<small>about seminars</small>
		</h2>
		
		<div class="container">
			<p class="normalTxt">
				あらゆる分野で法令遵守・コンプライアンスに対する要求が高まっている現在の経営環境、人事労務の分野においても例外ではありません。人事・労務に関わる課題をチェックし、そこから発生する問題を最小限にとどめつつ経営効率を維持・向上していくためにも労務監査の重要性は増してきているものと思われます。当協会では、労務監査の実務家の養成を目的に「労務監査人養成講座」・「労務監査人実践ゼミナール」を開催し、講座修了者には修了証の交付と併せて「労務監査人資格」の認定を行っております。<br>
				本講座を通して、労務監査の意義・目的をご理解いただくとともに監査に必要な知識・技術を習得し、お仕事にご活用いただけますようご参加をお持ちしております。<br>
				なお講座開催日程・参加募集につきましては、当ホームページ上でお知らせするとともに、お問い合わせフォームによりお問合せい頂いた方には、直接郵便若しくはe-mailにてご案内を差し上げます。
			</p>
		<!-- /container -->
		</div>
	</section>



	<section class="feature">
		<h2 class="contTitle">
			<strong>講座の特徴</strong>
			<small>feature</small>
		</h2>
		
		<div class="container">
			<section class="featureList">
				<h3>
					<span>対象者</span>
					<strong>人事・労務に関わるすべての方</strong>
				</h3>
				<p class="normalTxt">
					人事・労務の分野に関わるすべての方を対象としております。<br>
					特に、スタートアップの社会保険労務士の先生方をはじめ、人事担当者、労管理のビジネスパートナーなど人事労務のエキスパートを目指す方々にお勧めします。
				</p>
				
			</section>
			
			<section class="featureList">
				<h3>
					<span>目的</span>
					<strong>労務監査の知識と技法の習得</strong>
				</h3>
				<p class="normalTxt">
					労務監査に必要な知識と技法を習得することで、社会保険労務士・人事労務担当者としての価値を高め、健全な経営と活力ある組織づくりに貢献できる人材を育成するとともに、これらの方々の能力発揮の機会を創造してまいります。
				</p>
			</section>
			
			<section class="featureList">
				<h3>
					<span>内容</span>
					<strong>集合形式・ゼミナール形式</strong>
				</h3>
				<p class="normalTxt">
					基本知識の習得を目的とした講義による「労務監査人養成講座」に加え、実務能力の習得・向上を目的とした少人数によるゼミナール形式の「労務監査人実践講座」をご用意しております。<br>
					「労務監査人養成講座」（12ｈ/2‣3日）<br>
					「労務監査人実践講座」（15ｈ/3日）
				</p>
				
			</section>
			
			<section class="featureList">
				<h3>
					<span>講師</span>
					<strong>労務監査の専門家</strong>
				</h3>
				<p class="normalTxt">
					主任講師：八木直樹<br>
					働き方改革日本㈱代表取締役・特定社会保険労務士・元労働基準監督署長<br>
					その他、労務監査についての実務経験豊富な社会保険労務士等が、皆様の質疑にお応えしながら講義を進めてまいります。

				</p>
			</section>
		<!-- /container -->
		</div>
	</section>

	<section class="systemBox">
		<h2 class="contTitle">
			<strong>各種講座のご案内</strong>
			<small>seminar</small>
		</h2>
		
		<div class="container">
			<section class="systemList">
				<a href="/seminar/kyujitsu">

					
					<div class="txt">
						<h3 style="text-align:center;">労務監査人養成講座（週末開講）</h3>
						<p class="normalTxt">勤務登録社会保険労務士、人事労務関連業務でお勤めの方など、お仕事の都合上時間の自由度が低い方を対象に週末6時間×2日間で、労働関連法令や安全衛生管理体制、監査実施についての基本知識習得を中心に行います。</p>
						<p class="btn"><span>詳細はこちら</span></p>
					<!-- /txt -->
					</div>
				</a>
			</section>
			
			<section class="systemList">
				<a href="/seminar/heijitsu/">
					<div class="txt">
						<h3 style="text-align:center;">労務監査人養成講座（平日開講）</h3>
						<p class="normalTxt">開業登録社会保険労務士の方など、お仕事の一環として受講なさる方を対象に平日の午後4時間×3日間で、休日開講と同様労働関連法令や安全衛生管理体制、監査実施についての基本知識習得を中心に行います。</p>
						<p class="btn"><span>詳細はこちら</span></p>
					<!-- /txt -->
					</div>
				</a>
			</section>
			
			<section class="systemList">
				<a href="/seminar/jissen/">
					<div class="txt">
						<h3 style="text-align:center;">労務監査人実務講座</h3>
						<p class="normalTxt">
							労務監査に係る基本知識を有する方を対象とした労務監査実践に必要な技能の習得を目的としたゼミナール形式の講習。1日5時間×3日間を事例、実務実習、情報交換を織り交ぜながら行います。<br>
							当実践ゼミナールの受講修了により労務監査人資格の認定要件を満たすことが出来ます。認定要件の充足に限らず、労務監査の実務能力向上を目指す方にもお勧めいたします。
						</p>
						<p class="btn"><span>詳細はこちら</span></p>
					<!-- /txt -->
					</div>
				</a>
			</section>
			<section class="systemList">
				<a>
					<div class="txt">
						<h3 style="text-align:center;">その他・法改正セミナー等</h3>
						<p class="normalTxt">
							労働関連法令の改定があった際、施行時期に合わせて改正点と対応についてのセミナーを開催いたします。<br>
							また助成金申請、労基署対応等時季・時流に応じたセミナーもご用意しております。これらのセミナーの受講することで労務監査人資格認定の更新要件としております。
						</p>
					</div>
					<!-- /txt -->
				</a>
			</section>


		<!-- /container -->
		</div>
	</section>



</main>