
<main class="content">
	<nav class="localNavi">
		<p class="title_navi">認定制度メニュー</p>
		<ul class="localNaviList">
			<li><a href="/system/"><span>労務監査人認定制度とは</span></a></li>
		</ul>
	</nav>

	<h1 class="pageTitle">
		<strong class="txt"><%= image_tag('text/system.png', class: "img-responsive2") %></strong>
		<span class="picture system"></span>
	</h1>

	<section class="courseContent">
		<h2 class="contTitle">
			<strong>労務監査人認定制度とは？</strong>
			<small>outline</small>
		</h2>
		<div class="container">
				<section class="textfileList">
					<p class="normalTxt">第 20 条（労務監査人認定制度）</p><br>
					<p class="normalTxt">「労務監査人®」は、当協会が主催する労務監査人認定制度に基づき労務監査についての知識・技能を習得された方に認定付与する資格名称です。</p>
					<ul class="list__type list_text">
					<li>・認定は、当協会が主催または指定する「労務監査人養成講座」の受講者で修了証の交付を受けた方を対象に、ご本人からの認定申請に基づき行います。</li>
					<li>・資格有効期間は３年です。資格有効期間中は「法改正講座」など当協会及び提携団体が開催する講座を割引価格もしくは無料でご受講いただけます。また、これらを含む協会指定講座の受講により資格有効期間を更新することができます。</li>
				</ul>
				<br>
				<p class="normalTxt" align="right">～会員規程より～</p>
			
				</section>
		<!-- /container -->
			</div>

		<p class="normalTxt">
		
		<div class="container">
			<section class="courseContentList">
				<p class="normalTxt"></p>
			</section>
		</div>

		<div class="container">
			<section class="courseContentList">
				<h3 class="sectionTitle"><span>労務監査人について</span></h3>
				<p class="normalTxt">
					「労務監査人」は、当協会が運営する労務監査人認定制度に基づき労務監査についての知識・技能を習得された方に認定付与する資格名称です。
				</p>
				<ul class="listDecimel">
					<li>認定対象者は、当協会または当協会が指定する講座実施団体が開催する「労務監査人養成講講座」の受講者で修了証の交付を受けた方となります。（令和２年４月時点の指定講座実施団体は「働き方改革日本株式会社」となります。）</li>
					<li>資格認定は、ご本人のお申し出により行います。併せて職務経歴書・資格証明資料等をご提出いただきます。</li>
					<li>認定基準は、人事労務における実務経験と知識にに対する総合的判断となります。また、、協会主催の労務監査人実務ゼミナール（仮称）を受講者することで認定基準をみたすものとします。</li>
					<li>資格有効期間は、3年間です。この間労務監査人資格登録者には「法改正講座」、「実務ゼミナール」など当協会及び提携団体が開催する講座を割引料金でご提供いたします。これらを含む指定講座の受講により資格有効期間を3年間更新することができます。</li>
				</ul>
				<p class="normalTxt">
					資格登録後当協会に会員としてご参加頂いた方には「法改正講座」の無料受講などの特典の他、協会事業の委託、法人会員・一般企業からの案件依頼等、資格と技能の活用機会をご提供してまいります。
				</p>
			</section>
		<!-- /container -->
		</div>

		<div class="container">
			<%= image_tag('flowchart.png', class: "img-responsive") %>

		</div>
	</section>	

</main>
