<main class="content">
	<div class="mainVisual">
		<p class="copy hidden-xs hidden-s"></p>

		<div class="flexslider">
			<ul class="slides">
				<li class="pic01">
					<div class="txt">
						<%= image_tag('text/top.png', class: "img-responsive") %>
					<!-- /txt -->
					</div>
					<div class="picture">
					<!-- /picture -->
					</div>
				</li>
			</ul>
		<!-- /flexslider -->
		</div>
	<!-- /mainVisual -->
	</div>

	<section class="infoBox">
		<div class="container">
			<p class="normalTxt">
				労働力不足が深刻化する中、働き方改革関連法が本格施行され始めました。優秀な人材を採用・育成し、その能力を有効に発揮させるためにも労務コンプライアンスの適正化は重要かつ当然の課題と言えます。当協会では、労務監査人の育成と活用をもって企業の健全な発展と従業員の皆様のディーセントワークの実現にむけてのお手伝いをいたしております。また、人事・労務関連業務に携わる方々に対しては、その能力発揮・価値向上のお力になるべく、職域開発事業、能力開発事業を行ってまいります。この度、その一環として予てより準備してまいりました「労務監査人®養成講座」を開催いたすこととなりました。詳細につきましては、順次ホームページ等でご案内してまいりますが、これを機会にぜひ当協会へのご参加、ご活用をお考えいただけますようよろしくお願い申し上げます。
			</p>
			<p class="normalTxt", style="text-align: right">
				一般社団法人人事・労務エキスパート協会
			</p>
		<!-- /container -->
		</div>
	</section>

	

	<section class="txtBnr">
		<div class="container">
			<h2><a href="/system" target="_blank">労務監査人認定制度はこちら</a></h2>
		</div>
	</section>

	<div class="eventMainBox">
		<h2 class="contTitle">
			<strong>講座内容</strong>
			<small>curriculum</small>
		</h2>

		<div class="container">

			<section class="eventList">
				<div class="eventList_inner">
					<h3 class="sectionTitle"><span>養成講座（休日開講）</span></h3>
					<div class="tbrResponcive">
						<table class="tbrNormal">
							<thead>
								<tr>
									<th class="cel03"></th>
									<th class="cel03">カリキュラム</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">1日目</td>
									<td>
										基調講演 働き方改革と監査の手法について
									</td>
								</tr>
								<tr>
									<td>
										労務監査編①<br>
										　労働契約・労働時間管理・賃金計算・就業規則<br>
										　社会保険 他
									</td>
								</tr>
								<tr>
									<td rowspan="2">2日目</td>
									<td>
										労務監査編②<br>
										　育児介護休業制度・パートタイム管理<br>
										　ハラスメント防止対策・高齢者雇用・障害雇用<br>
										　外国人の労務管理・派遣労働者の受け入措置 他
									</td>
								</tr>
								<tr>
									<td>
										安全衛生監査編<br>
										　安全衛生管理体制・機械設備の安全措置<br>
										　労働衛生基準と有害業務の管理<br>
										　安全衛生教育・健康診断と事後措置 他
									</td>
								</tr>							
							</tbody>
						</table>
						<!-- /tbrResponcive -->
					</div>
				<p class="normalTxt">主に勤務社労士を対象</p>
				</div>
			</section>
        

			<section class="eventList">
				<div class="eventList_inner">
					<h3 class="sectionTitle"><span>養成講座（平日開講）</span></h3>
					<div class="tbrResponcive">
						<table class="tbrNormal">
							<thead>
								<tr>
									<th class="cel03"></th>
									<th class="cel03">カリキュラム</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">1日目</td>
									<td>
										基調講演 働き方改革と監査の手法について
									</td>
								</tr>
								<tr>
									<td>
										労務監査編①<br>
										　労働契約・労働時間管理・賃金計算・就業規則<br>
										　社会保険 他
									</td>
								</tr>
								<tr>
									<td>2日目</td>
									<td>
										労務監査編②<br>
										　育児介護休業制度・パートタイム管理<br>
										　ハラスメント防止対策・高齢者雇用・障害雇用<br>
										　外国人の労務管理・派遣労働者の受け入措置 他
									</td>
								</tr>
								<tr>
									<td>3日目</td>
									<td>
										安全衛生監査編<br>
										　安全衛生管理体制・機械設備の安全措置<br>
										　労働衛生基準と有害業務の管理<br>
										　安全衛生教育・健康診断と事後措置 他
									</td>
								</tr>							
							</tbody>
						</table>
						<!-- /tbrResponcive -->
					</div>
				<p class="normalTxt">主に開業社労士を対象</p>
				</div>
			</section>
            
			<section class="eventList">
				<div class="eventList_inner">
					<h3 class="sectionTitle"><span>労務監査人実践ゼミナール(終日×3回)</span></h3>
					<div class="tbrResponcive">
						<table class="tbrNormal">
							<thead>
								<tr>
									<th class="cel03"></th>
									<th class="cel03">カリキュラム</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">
										1日目
									</td>
									<td>
										午前：監査項目とチェックリスト
									</td>
								</tr>
								<tr>
									<td>
										午後：法廷書類の記録・保存状況
									</td>
								</tr>
								<tr>
									<td rowspan="2">
										2日目
									</td>
									<td>
										午前：就業規則・規程、協定
									</td>
								</tr>
								<tr>
									<td>
										午後：労働条件、賃金支払い状況<br>
										　　　労働時間・休憩・休日、年次有給休暇
									</td>
								</tr>
								<tr>
									<td rowspan="2">
										3日目
									</td>
									<td>
										午前：安全衛生管理体制、安全衛生教育<br>
										　　　健康診断と事後措置
									</td>
								</tr>
								<tr>
									<td>
										午後：労働者の面談の意義・目的、技法の習得
									</td>
								</tr>							
							</tbody>
						</table>
						<!-- /tbrResponcive -->
					</div>
				<p class="normalTxt">「労務監査人実践ゼミナール」は、労務監査の実務修得を目的とした少人数で行うゼミナール形式の講習です。</p>
				</div>
			</section>

			<section class="eventList">
				<div class="eventList_inner">
					<h3 class="sectionTitle"><span>その他・法改正セミナー等</span></h3>
			    </div>
			</section>


		</div>
	</div>

			<section class="txtBnr">
				<div class="container">
					<h2><a href="/seminar" target="_blank">講座のご案内はこちら</a></h2>
				</div>
			</section>
            

	<section class="infoBox">
		<div class="container">
			<h2 class="contTitle">
				<strong>お知らせ</strong>
				<small>information</small>
			</h2>
			
			 <ul class="infoList">
                
              <li>
                <a href="">
                  <span class="date">令和3年3月4日</span>
                  <span class="title">「第1回 労務監査人実践ゼミナール」定員迄残り1名となりました。
                  </span>
                </a>
              </li>
                
              <li>
                <a href="">
                  <span class="date">令和3年2月25日</span>
                  <span class="title">令和3年3月4日「第1回 労務監査人実践ゼミナール」を開催します。
                  </span>
                </a>
              </li>

              <li>
                <a href="">
                  <span class="date">令和3年1月17日</span>
                  <span class="title">令和3年1月　新年特別講演参加申し込みを締め切りました。<br>
                  尚、実施の有無を含めた今後の開催方針・判断につきまいては、お申込者様の直接ご連絡いたします。
                  </span>
                </a>
              </li>
                        
              <li>
                <a href="">
                  <span class="date">令和3年1月14日</span>
                  <span class="title">令和3年1月　新年特別講演の開催について。<br>
                  緊急事態宣言発令に伴い実施検討中です。明日(15日)申込締め切り後の状況により判断しお知らせします。
                  </span>
                </a>
              </li>

              <li>
                <a href="">
                  <span class="date">令和2年12月18日</span>
                  <span class="title">令和3年1月　新年特別講演の開催します。
                  </span>
                </a>
              </li>              
            </ul>
			

 
		<!-- /container -->
		</div>
	</section>
</main>