<main class="content">
	<nav class="localNavi">
		<p class="title_navi">講座のご案内</p>
		<ul class="localNaviList">
			<li><a href="/seminar/"><span>講座のご案内</span></a></li>
			<li><a href="/seminar/kyujitsu"><span>労務監査人養成講座(週末開講)</span></a></li>
			<li><a href="/seminar/heijitsu"><span>労務監査人養成講座(平日開講)</span></a></li>
			<li><a href="/seminar/jissen"><span>労務監査人実務講座</span></a></li>
			<li><a href="/seminar/schedule/"><span>開催日程</span></a></li>
		</ul>
	</nav>

	<h1 class="pageTitle">
		<strong class="txt"><%= image_tag('text/seminar.png', class: "img-responsive1") %></strong>
		<span class="picture system"></span>
	</h1>

	<section class="about">
		<h2 class="contTitle">
			<strong>労務監査人養成講座(平日開講)</strong>
		</h2>

		<div class="container">
			<section class="courseContentList">
				<h3 class="sectionTitle"><span>科目構成および受講時間</span></h3>
					<div class="tbrResponcive">
						<table class="tbrNormal">
							<thead>
								<tr>
									<th class="cel03"></th>
									<th class="cel03">カリキュラム</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">1日目</td>
									<td>
										基調講演 働き方改革と監査の手法について
									</td>
								</tr>
								<tr>
									<td>
										労務監査編①<br>
										　労働契約・労働時間管理・賃金計算・就業規則<br>
										　社会保険 他
									</td>
								</tr>
								<tr>
									<td>2日目</td>
									<td>
										労務監査編②<br>
										　育児介護休業制度・パートタイム管理<br>
										　ハラスメント防止対策・高齢者雇用・障害雇用<br>
										　外国人の労務管理・派遣労働者の受け入措置 他
									</td>
								</tr>
								<tr>
									<td>3日目</td>
									<td>
										安全衛生監査編<br>
										　安全衛生管理体制・機械設備の安全措置<br>
										　労働衛生基準と有害業務の管理<br>
										　安全衛生教育・健康診断と事後措置 他
									</td>
								</tr>
							</tbody>
						</table>
						<!-- /tbrResponcive -->
					</div>
				<p class="normalTxt">開業社労士の方など、お仕事の一環として受講される方を対象に平日午後3回で、週末開催と同様労働関連法令や安全衛生管理体制、監査実施についての基本知識習得を中心に行います。</p>
				</div>
			</section>
