<main class="content">
	<h1 class="pageTitle">
		<strong class="txt"><%= image_tag('text/info.png', class: "img-responsive") %></strong>
		<span class="picture"></span>
	</h1>
	
	<section class="infoBox">
		<div class="container">
			<h2 class="contTitle">
				<strong>お知らせ</strong>
				<small>information</small>
			</h2>
			
            <ul class="infoList">
                
              <li>
                <a href="">
                  <span class="date">令和3年3月4日</span>
                  <span class="title">「第1回 労務監査人実践ゼミナール」定員迄残り1名となりました。
                  </span>
                </a>
              </li>
                
              <li>
                <a href="">
                  <span class="date">令和3年2月25日</span>
                  <span class="title">令和3年3月4日「第1回 労務監査人実践ゼミナール」を開催します。
                  </span>
                </a>
              </li>

              <li>
                <a href="">
                  <span class="date">令和3年1月17日</span>
                  <span class="title">令和3年1月　新年特別講演参加申し込みを締め切りました。<br>
                  尚、実施の有無を含めた今後の開催方針・判断につきまいては、お申込者様の直接ご連絡いたします。
                  </span>
                </a>
              </li>
                        
              <li>
                <a href="">
                  <span class="date">令和3年1月14日</span>
                  <span class="title">令和3年1月　新年特別講演の開催について。<br>
                  緊急事態宣言発令に伴い実施検討中です。明日(15日)申込締め切り後の状況により判断しお知らせします。
                  </span>
                </a>
              </li>

              <li>
                <a href="">
                  <span class="date">令和2年12月18日</span>
                  <span class="title">令和3年1月　新年特別講演の開催します。
                  </span>
                </a>
              </li>              
            </ul>
            
                        
		<!-- /container -->
		</div>
	</section>
	
</main>
