<main>

	<nav class="localNavi">
	  <p class="title_navi">認定労務監査人</p>
	  <ul class="localNaviList">
		<li><a><span>認定労務監査人</span></a></li>
	  </ul>
	</nav>

    <div class="container">
        <section class="comingsoon">
            <h2 class="contTitle">
                <strong>このページは現在準備中です</strong>
                <small>coming soon</small>
            </h2>
            <p class="normalTxt t-center">このページは現在準備中です。<br>公開までしばらくお待ちください。</p>
        </section>
    <!-- /container -->
    </div>
</main>